body {
    font-family: Arial, narrow;
    text-align: center;
    background-color: green;
}

header {
    background-color: orange;
    color: blue;
    padding: 10px;
}

button {
	font-family: Arial, narrow;
    padding: 10px;
    font-size: 14px;
	background-color:green;
	color: brown;
    cursor: pointer;
}
html {
  background-color:pink;
  
}